body{
    font-family: "Open Sans";
    min-width: 320px;
    color: #1e0404;
    background-color: #fff;
}
img{
    max-width: 100;
    height: auto;
}
section{
    padding: 100px 0;
}
h3{
    font-style: italic;
    font-size: 30px;
    font-family: "Open Sans";
}

h4{
    font-weight: bolder;
    font-size: 44px;
    font-family: "Open Sans";
    margin-bottom: 75px;
}
/*========================================HEADERS========================================*/
/*====================MAIN-HEADER==========================*/
